# Virtualenv
.Python
bin
lib
include
*.py[cod]

# Mac OS X custom attribute files
.DS_Store

.idea/
.idea/misc.xml
.idea/modules.xml
.idea/trumpbot.iml
.idea/workspace.xml

/venv/
.ipynb_checkpoints/
__pycache__/

/trumpbot.ipynb
